/* .bg-img{
    background-image: url('');
} */
.bg-img {
    background: url('../assets/ILLUSTRATION.png') right/40% no-repeat; 
    background-size: auto 100%; 
    min-height: 100vh;
    position: relative;
  }
  .header-nav{
margin: 30px 20px 0 20px;
  }
.header-nav li>a{
    color: white !important;
    font-size: 20px;
    font-weight: 500;
    
}
/* .header-nav:first-child{
    color: black !important;
} */

.bg-img-content {
  background-image: url('../../src/assets/SHAPE.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position:  right;
}
.shadow-right {
  filter: drop-shadow(5px 3px rgba(0, 0, 0, 0.2));
  opacity: 50px;
  color: black;
}

.full-height-container {
  position: relative; 
  background-image: url('../../src/assets/Artboard\ 1.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: right;
  padding: 30px; 
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  
   
}
